In [5]:
#Iterating over list of element
classic_cars = ['Peirce arrow','Lmborgini','Tata','Mustang']
for car in classic_cars:
    print(car)

Peirce arrow
Lmborgini
Tata
Mustang

In [6]:
for character in "python":
    print(character)

p
y
t
h
o
n

In [7]:
for integer in 543422:
    print(integer)

TypeError: 'int' object is not iterable

In [8]:
list(range(-4,8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [10]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [12]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [13]:
for _ in range(7):
    print("Great prakhar")

Great prakhar
Great prakhar
Great prakhar
Great prakhar
Great prakhar
Great prakhar
Great prakhar

In [14]:
names_and_ages = { 'prakhar':22,
                   'prankur': 23,
                   'pragya':21,
                   'aneeta': 19
                 }

In [15]:
for key in names_and_ages:
    print(key)

prakhar
prankur
pragya
aneeta

In [21]:
for key in names_and_ages:
    print("Name: {}, Age = {}".format(key,names_and_ages[key]))

Name: prakhar, Age = 22
Name: prankur, Age = 23
Name: pragya, Age = 21
Name: aneeta, Age = 19

In [23]:
names_and_ages.keys()

dict_keys(['prakhar', 'prankur', 'pragya', 'aneeta'])

In [24]:
for key in names_and_ages.values():
    print(key)

22
23
21
19

In [25]:
names_and_ages.items()

dict_items([('prakhar', 22), ('prankur', 23), ('pragya', 21), ('aneeta', 19)])